<button type="button" mat-icon-button class="back-button" [routerLink]="'/' + pageName" >
  <mat-icon>keyboard_backspace</mat-icon>
</button>

<div class="wrapper">

  <ng-container *ngIf="theme">

    <div class="edit-title">
      <button class="btn-edit btn-edit-title" mat-icon-button (click)="onSubmit($event);">
        <mat-icon class="btn-edit-title">{{ !editTitle ? 'edit' : 'done' }}</mat-icon>
      </button>

      <ng-container *ngIf="!editTitle">
        <h1 class="text-center title">{{ theme.name }}</h1>
        <h3 class="text-center description">{{ theme.description }}</h3>
      </ng-container>

      <form [formGroup]="editForm" *ngIf="editTitle">
        <mat-form-field class="full-width">
          <input type="text"
                  placeholder="Write your title"
                  matInput
                  value="{{ theme.name }}"
                  formControlName="name" >
        </mat-form-field>

        <mat-form-field class="full-width">
          <input type="text"
                  placeholder="Write your description"
                  matInput
                  value="{{ theme.description }}"
                  formControlName="description" >
        </mat-form-field>
      </form>

    </div>

    <div class="edit-info">
      <button class="btn-edit btn-edit-info" mat-icon-button (click)="onSubmit($event);">
        <mat-icon class="btn-edit-info">{{ !editInfo ? 'edit' : 'done' }}</mat-icon>
      </button>

      <p class="info-text" *ngIf="!editInfo">{{ theme.info }}</p>

      <form [formGroup]="editForm" *ngIf="editInfo">
        <mat-form-field class="full-width">
          <textarea formControlName="info"
                    class="textarea"
                    matInput
                    value="{{ theme.info }}"></textarea>
        </mat-form-field>
      </form>
    </div>

  </ng-container>

</div>
