<div class="wrapper">

  <ng-container *ngIf="theme">

    <h1 class="text-center">{{ theme.name }}</h1>
    <h3 class="text-center description">{{ theme.description }}</h3>

    <div class="info">

      <p class="info-text">{{ theme.info }}</p>

      <div class="btn-block">
        <button type="button" (click)="edit = !edit" mat-raised-button>Add/Edit</button>
      </div>

    </div>

    <form *ngIf="edit" class="form" [formGroup]="editForm" (ngSubmit)="onSubmit()">
       <button type="button" class="close-btn" mat-icon-button (click)="edit = !edit">
         <mat-icon>close</mat-icon>
        </button>

      <h2 class="form-title text-center">Add or Edit Info</h2>

      <mat-form-field class="full-width">
        <input type="text" formControlName="name" matInput value="{{ theme.name }}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input type="text" formControlName="description" matInput value="{{ theme.description }}">
      </mat-form-field>

      <mat-form-field class="full-width">
        <textarea formControlName="info" class="textarea" matInput value="{{ theme.info }}"></textarea>
      </mat-form-field>

      <button type="submit" mat-raised-button>Save</button>

    </form>

  </ng-container>

</div>
