.wrapper {
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.title {
  font-size: 200px;
  color: #f8d94e;
  margin: 0;
}

.example-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
  margin: 20px;
  text-align: center;
  width: 250px;
  height: 150px;

  h3,p {
    margin: 0;
  }

  h3 {
    margin-bottom: 10px;
  }
}
